<form action="/auth/login" method="POST">
      <div class="papaLoginDiv">
         <div class="loginDiv">
            <h2>Log In</h2>
            <input type="email" name="email" class="form-control login" required placeholder="Email">
            <input type="password" name="password" class="form-control login" required placeholder="Password">
               <button type="submit" class="btn btn-primary login">Log In</button>
         </div>
      </div>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}