{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<form action="/rooms/create" method="post">
    <label for="name"> Room Name
        <input type="text" name="name" placeholder="Room Name">
    </label>
    <label for="description"> Room Description
        <input type="text" name="description" placeholder="Optional Room Description">
    </label>
    <button type="submit">Create Room</button>
</form>