{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}
<form action="/rooms/create" method="post">
        <div class="papaLoginDiv">
            <div class="loginDiv">
                <input class="form-control login" type="text" name="name" placeholder="Room Name">
                <input class="form-control login" type="text" name="description" placeholder="Optional Room Description">
                    <button class="btn btn-primary login" type="submit">Create Room</button>
            </div>
        </div>
</form>