<h1>Welcome to Wishlists!</h1>
<p>Please sign up or log in to experience all the site has to offer!</p>
<a href="/auth/login">Log In</a>
<a href="/auth/signup">Sign Up</a>
<a href="/auth/logout">Log Out</a>
<a href="/rooms">View Your Rooms</a>